#ep_filemon {
	display: table;
	height: 26px; /* Same size as buttons */
	float: left;
	margin-right: 10px;
}
#ep_filemon_content {
	display: table-cell;
	vertical-align: middle;
	text-align: right;
}